<head>
  <link rel="stylesheet" href="../style.css" />
</head>

<%- include('nav.ejs') %>
<body class="singleRecipeBackground">
  
  <div class="recipeContainer">
    <div class="singleRecipeHeader">
      <div class="recipeName">
        <h1 class="twentyonedata"><%= data.is21 %></h1>
        <h1>
          <%=post.name%>
        </h1>
        <p>By: <%=post.firstName%>
        </p>
      </div>
      <div class="recipePhoto"><% if (post.filepath){ %>
        <img src="<%= post.filepath %>" alt="Uploaded Image">
        <% } %>
      </div>
      

    </div>
    <div class="singleRecipeDiv">
    <h1>
      <%=post.description%>
    </h1>
    <h1>
      <%=post.category%>
    </h1>
    <% if(post.category=="Drinks" ){ %>
      <h1>
        <%=post.alcoholic%>
      </h1>
      <%}%>
        <h1>Ingredients</h1>
        <ul>
          <% for (let ingredientsX=0; ingredientsX < post.ingredients.length; ingredientsX++) { %>
            <li>
              <%= post.ingredients[ingredientsX] %>
            </li>
            <% } %>
        </ul>

        <h1>
          <%=post.instructions%>
        </h1>
      </div>
    </div>
  </div>

  </body>


  <%- include('footer.ejs') %>

